body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #916b03;
  color: white;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}

/* Gallery styling */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center images */
}

#gallery img {
  width: 200px;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid #916b03; /* Matches header color */
}

/* Submit button container */
.submit-button-container {
  margin-top: 20px;
  text-align: center;
}

/* Submit button styling */
.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #916b03; /* Matches header color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #7a5802; /* Slightly darker for hover */
}
